<h2>new fish</h2>

<form method="post" action="/fish">
    <div>
        <label for="name">Enter your fish name: </label>
        <input type="text" name="fish[name]" id="name" >
    </div>
    <input type="submit">
</form>