<h2>create a new sushi</h2>

<form action="/sushis" method="post">
    <div>
        <label for="name">Enter your sushi name: </label>
        <input type="text" name="sushi[name]" id="name" >
    </div>
    <div>
        <label for="price">Enter your sushi price: </label>
        <input type="number" name="sushi[price]" id="price" step="0.01">
    </div>
    <div>
        <% @ingredients_for_checkboxes.each do |ingredient| %>
            <input type="checkbox" id="ingredient-<%= ingredient.id %>" name="sushi[ingredient_ids][]" value="<%= ingredient.id %>">
            <label for="ingredient-<%= ingredient.id %>"><%= ingredient.name %></label>
        <% end %>
    </div>
    <input type="submit">
</form>
<form method="post" action="/ingredients">
    <input type="hidden" name="new_sushi_form" value="true">
    <div>
        <label for="name">Enter your ingredient name: </label>
        <input type="text" name="ingredient[name]" id="name" >
    </div>
    <input type="submit">
</form>