<div>
    a <%= link_to @car.brand.name, @car.brand %> owned by <%= link_to @car.owner.name, @car.owner %> serviced by <%= link_to @car.mechanic.name, @car.mechanic%>, it's been driving for <%= @car.mileage %> miles
</div>