<h2>create a new sushi</h2>

<form action="/sushis" method="post">
    <div>
        <label for="name">Enter your sushi name: </label>
        <input type="text" name="name" id="name" >
    </div>
    <div>
        <label for="price">Enter your sushi price: </label>
        <input type="number" name="price" id="price" step="0.01">
    </div>
    <div>
        <label for="fish">Enter your sushi fish: </label>
        <input type="text" name="fish" id="fish" >
    </div>
    <input type="submit">
</form>