<h2>new ingredient</h2>

<form method="post" action="/ingredients">
    <div>
        <label for="name">Enter your ingredient name: </label>
        <input type="text" name="ingredient[name]" id="name" >
    </div>
    <input type="submit">
</form>